#game-wrapper {
	width: 100%;
	overflow-x: hidden;
}

.bg {
	min-height: 800px;
	display: block;
	position: relative;
	background-image: url(../images/bg2.jpg);
	background-repeat: repeat no-repeat;
}

.playzone {
	position: relative;
	height: 766px;
}